<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beacon.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @beacon.uid %>
</p>

<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
