<h1>Listing distance_samples</h1>

<table>
  <thead>
    <tr>
      <th>Power</th>
      <th>Distance</th>
      <th>Beacon</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @distance_samples.each do |distance_sample| %>
      <tr>
        <td><%= distance_sample.power %></td>
        <td><%= distance_sample.distance %></td>
        <td><%= distance_sample.beacon_id %></td>
        <td><%= link_to 'Show', distance_sample %></td>
        <td><%= link_to 'Edit', edit_distance_sample_path(distance_sample) %></td>
        <td><%= link_to 'Destroy', distance_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Distance sample', new_distance_sample_path %>
