<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @distance_sample.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @distance_sample.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @distance_sample.integer %>
</p>

<%= link_to 'Edit', edit_distance_sample_path(@distance_sample) %> |
<%= link_to 'Back', distance_samples_path %>
